
/* ***************** NAVBAR STYLING ***************** */

:root{
    --primary : #0056D2;
    --green    : #7dd87d;
    --secondary : #232B38;
    --ternary : #494949;
  
    --pure : #F6FAFF;
    --light : #CACACA;
   
}


* {
  max-width: 1280px;
  max-height: 720px;
}





.App{
  width: 1280;
  height: 720;

}



.navbar-container{
  background-color: var(--primary);
  color: white;
  height: 50px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
 
  align-items: center; */
}

.logo{
  float: left;



}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.card_container{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 margin:0px;
 /* overflow: hidden; */
  
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid gray;
 
  margin: 10px;
  height: auto;
  width: 45%;
  height: 55vh;
  overflow-y: scroll;
  overflow-x: none;
}


@media screen and (max-width:768px)
 {


.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid gray;
  overflow: hidden;
 
  margin: 10px;
  height: auto;
  width: 95%;
   overflow-y: scroll;
  overflow-x: scroll;
}


 }